label,input {
    display: block;
}

section {
    display: flex;
    justify-content: center;
    gap: 1.25em;
}

.signup-boxes {
    text-align: center;
}


body {
    background-image: url("images/lblogo.jpg");
    background-size: 35% 100vh;
    background-repeat: no-repeat;
}